body * {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

.navbar {
  margin: 0;
  display: flex;
  background-color: #1a202c;
  padding: 16px;
  justify-content: space-between;
}

.nav_title {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.nav_title:hover {
  color: #cbd5e0;
}

.title {
  text-align: center;
  font-size: 30px;
}

.description {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.right_side {
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
