{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/music.css') }}"
/>
<script src="{{ url_for('static', filename='js/music.js') }}"></script>
{% endblock head %} {% block main %}
<div class="container">
	<h1>View Music</h1>
	<div id="loading">
		<h2>Loading...</h2>
	</div>
	<div class="downloads">
		<a href="#" id="pdf" class="download">Download PDF</a>
		<a href="#" id="midi" class="download">Download MIDI</a>
	</div>
	<div class="button_container">
		<div>
			<button onclick="previousPage()">&lt</button>
			<button onclick="nextPage()">&gt</button>
		</div>
	</div>
	<div id="music">
	</div>
</div>
{% endblock main %}
